.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 24px;
  height: 80px;
  background: #523F31;
  color: #2D1E17;
}

.logo {
  color: #F7F3EF;
  font-weight: 100;
  font-size: 40px;
  text-decoration: none;
  font-family: "modern romance", sans-serif;
}

.links {
  display: flex;
  gap: 8px;
  border-radius: 40px;
  font-family: "editorial", sans-serif
}

.links a {
  color: #E5DFD1;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 40px;
  font-family: "editorial", sans-serif
}

.links a:hover {
  background: #E9D8CE;
  color: #2D1E17;
  border-radius: 40px;
}

.links a.activo {
  background: #E9D8CE;
  color: #2D1E17;
  font-weight: 600;
  border-radius: 40px;
}

@media (max-width: 560px) {
  .navbar {
    flex-direction: column;
    gap: 8px;
  }
}
